<h1>Wijmo FlexGrid with Prerendering Test</h1>
<p>This is a simple extension of the <a href="http://blog.stevensanderson.com/2016/05/02/angular2-react-knockout-apps-on-aspnet-core/">aspnet-spa yo template</a>
   created by <a href="https://github.com/SteveSandersonMS">Steve Sanderson.</a></p>
<p>The purpose is to test whether it is possible to use the <a href="http://demos.wijmo.com/5/Angular2/FlexGridIntro/FlexGridIntro/">Wijmo 5 FlexGrid</a> with Angular prerendering.</p>

<p>If you're seeing the app successfully render, that means pre-rendering probably off. You should be able to go to the Test Wijmo Grid module and see a Wijmo Grid successfully render.</p>

<p>To turn on prerendering, edit this line of <b>Views/Home/Index.cshtml</b>...</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&lt;app&gt;Loading...&lt;/app&gt;</b></p>

<p>...to instead read...</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>&lt;app asp-prerender-module="ClientApp/boot-server"
     asp-prerender-webpack-config="webpack.config.js"&gt;Loading...&lt;/app&gt;</b></p>

<p>If you do this, you'll probably get this error:</p>

<p><b>Exception: Call to Node module failed with error: ReferenceError: navigator is not defined<br/>
at wijmo (/Users/Andrew/Projects/wijmo-prerender-aspnetcore/vendor/wijmo/wijmo.min.js:13:79205)</b></p>

<p>This is probably due to wijmo making directly manipulating DOM elements, which does not conform to <a href="https://github.com/angular/universal">guidance from the Angular2 Universal team</a>, which states:

<p><b>Don't use any of the browser types provided in the global namespace such as navigator or document</b></p>